@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<h1>THIS PAGE IS UNDER CONSTRUCTION</h1>
<div class="imgMiddle">
<img src = "~/images/underconstruction.png" />
</div>
